In [1]:
==========================================EDA=======================================
1) pandas  : dataframe or data application















============== ==========================MACHINE)ing========n==============ra===e=======
7) Sciklit learn(sklearn)  : ML models
8) stats                    : statistical models


==================================Data retrival from sql scrapping=====================
9) sqlite           : connect with database
10) Veautiful soap          : scrap the data from website
11) websocket            : scrap


===============================Deep larning/computer vision =====================================
12) tensorflow        : google

+-14) Opencv            : Image operations
15) pillow(pil)       : Image operstions
16) pytorch           : facebook
17) Prret





================================Natural languag proces=============
18) NlTK    : Natural language process
19) scipy
20) word2vec ( how words will convert into vector) :
21) Glove
22) wordcloud

===============================hugging face===============
23) Transformers      : BERT


================================ GenAI models=================
24) OpenAi+Microsoft      : GPT Models
25) Google                : Gemini
26) Amazon                 : Q
27) Meta Facebook          :MetaAI
28) Apple

LLAMA
GEMMA
Dalle-e
T5

All ARE HAVING DIFFERNT DIFFERNT PACKEGES

======================LANGCHAIN================
29) LANGCHAIN FRAMEWORK
======================deployments=====================
30) flask
31) stremlit
32) Django


=======================Mlops========================
33) Mlfolw
34)kubeflow
35) Azure ai swervices :

================step-1 =============

SyntaxError: unmatched ')' (1883541322.py, line 2)

In [ ]:
import pandas as pd

In [2]:
d1=pd.dataframe()
d1

NameError: name 'pd' is not defined

In [3]:
type(d1)

NameError: name 'd1' is not defined

In [ ]:
step -2

provide the data

In [4]:
names= ['tarun', 'surendar','mohit']
pd.DataFramw(names)

NameError: name 'pd' is not defined

names=['tarun','surendar','mohit']
age=[20,21,22]
city=['hyd','cvil','blr']

data=zip(names,age,city)

cols=['names','age','city']

pd.dataFrame(data,colums=cols)