In [ ]:
#create dataframe

import pandas as pd
names=['tarun','surendar','rushi']
age=[20,21,22]

- If you want add new cloumn

- First check how many rows are there

- For example in above dataframe we have 3 rows

- your new column also should have 3 rows

- suppose i want crete a new column: **salary**

- make a list with 3 values

- salary = [100000,200000,300000]

**syntax**: dataframe[column]=list values

- salary = [100000,200000,300000]

- df ['salary']=salary

In [1]:
df=['salary']=[]

SyntaxError: cannot assign to literal (1831428336.py, line 1)

In [2]:
salary=[10000,20000,30000]
df['salary']=salary
df

NameError: name 'df' is not defined

**use case-1**

- create empty data frame first

- Create 3 list using list comprehension

- list1 = square of 1 of 10

- list2 = square of 1 of 10

- list3 = square of 1 of 10

- Finally make a dataframe

In [4]:
import pandas as pd
df1=pd.Data.frame()
df1

AttributeError: module 'pandas' has no attribute 'Data'

In [7]:
l1=[ i for i in range(1,10)]
l2=[i**2 for i in rang(1,100]
l3=[i**3 for i in range(1,100]
df1['x']=l1
df1['y']=l2

df1['z']=l3
df1

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (2872005049.py, line 2)

In [ ]:
**Step-688 

update the already exited column

In [ ]:
- Create  a new cloumn

- update exi